<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{title}}</title>
</head>
<body>
  <h1>Wolf Updater</h1>

      <a href="/">Home</a>
  <a href="/page1">Page 1</a>
  <a href="/page2">Page 2</a>
  <a href="/page3">Page 3</a>
  <a href="/page4"> Page 4</a>

  <form action="/create-wolf" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" value="">
    <label for="breed">Breed:</label>
    <input type="text" name="breed" value="">
    <label for="age">Age:</label>
    <input type="number" name="age" value="">
    <input type="submit" value="Create Wolf">
  </form>

  <br/>
  <br/>

  <form action="/age-wolf" method="POST">
    <label for="name">Wolf name to age:</label>
    <input type="text" name="name" value="">
    <input type="submit" value="Age Wolf">
  </form>

</body>
</html>
